@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color:  #F4F4F6;
}

#root {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

.outlet {
    display: flex;
    background-color: rgb(209, 209, 209);
    width: 100%;
    height: 100vh;
}

td,
th,
h3,
.item-id,
.item-name,
.item-more,
.item-title,
.menu-wrapper,
.time-text,
.item-label,
.btn {
    font-weight: 400;
    font-family: "JetBrains Mono", monospace;
}

/* Styles the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Styles the scrollbar thumb (the draggable element) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Styles the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Styles the width of the scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }