.main-management {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.management-window {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: white;
    width: 95%;
    height: 95%;
    padding: 5px;
    row-gap: 5px
}

.management-header {
    display: grid;
    grid-area: 1/1/2/11;
    background-color: #F9F9F9;
    align-items: center;
    font-size: 18px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    column-gap: 5px;
    padding: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
}

.management-title {
    display: grid;
    grid-area: 1/1/2/6;
    background-color: #FFFFFF;
    height: 100%;
    padding: 2px;
    box-shadow: 1px 2px 4px 0px #949191;
    border-radius: 3px;
}

.management-body {
    display: flex;
    flex-direction: column;
    grid-area: 2/1/11/11;
    background-color: #F9F9F9;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 5px;
    row-gap: 20px;
    overflow-y: scroll;
}

.title-section {
    display: grid;
    background-color: #F9F9F9;
    border-radius: 5px;
    align-items: center;
    font-weight: 800;
    padding-left: 10px;
    color: #4C4C4C;
}

.time-section {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
}

.time-text {
    display: grid;
    grid-area: 1/1/2/5;
    background-color: #F9F9F9;
    justify-content: center;
    align-items: center;
}

.time-icon {
    display: grid;
    grid-area: 1/5/2/6;
    background-color: #F9F9F9;
    justify-content: center;
    align-items: center;
}

.management-time {
    display: grid;
    grid-area: 1/6/2/9;
    background-color: #FFFFFF;
    height: 100%;
    padding: 2px;
    box-shadow: 1px 2px 4px 0px #949191;
    border-radius: 3px;
}

.item-wrapper {
    display: grid;
    height: 55px;
    min-height: 55px;
    width: 100%;
    border-radius: 4px;
    background-color: #FFFFFF;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
    padding: 5px;
    box-shadow: 1px 2px 4px 0px #949191;
}

.item-id,
.item-name,
.item-more {
    display: grid;
    border-radius: 5px;
    background-color: #F9F9F9;
    border: 1px solid #EEEEEE;
    justify-content: center;
    align-items: center;
}

.item-id {
    grid-area: 1/1/2/2;
}

.item-name{
    grid-area: 1/2/2/12;
}

.item-more {
    grid-area: 1/12/2/13;
}

.btn:hover,
.item-more:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #EEEEEE;
}

/* Style for block-window and more details */
.block-window {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4c4c4cab;
    justify-content: center;
    align-items: center;
}

.details-wrapper {
    display: grid;
    height: 90%;
    width: 90%;
    background-color: white;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 5px;
    row-gap: 10px;
    padding: 5px;
}

.btn {
    color: #757575;
    background-color: #F9F9F9;
    border: none;
}

.item-title,
.save-item
.close-item {
    display: grid;
    background-color: #F9F9F9;
}

.item-title {
    grid-area: 2/2/3/8;
    justify-content: center;
    align-items: center;
}

.save-item {
    grid-area: 2/9/3/11;
}

.close-item {
    grid-area: 2/11/3/12;
}

.item-specifications {
    display: grid;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    grid-area: 3/2/12/12;
    box-shadow: 1px 2px 4px 0px #949191;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    overflow-y: scroll;
}

.item-column {
    display: grid;
    border-radius: 4px;
    background-color: #F2F2F2;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    padding: 5px;
}

.item-data {
    display: grid;
    background-color: #FFFFFF;
    border-radius: 4px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 4px;
    column-gap: 4px;
    padding: 5px;
    box-shadow: 1px 2px 4px 0px #949191;
}

.item-label,
.item-row-two {
    display: grid;
    background-color: #F9F9F9;
    border-radius: 3px;
}

.item-label {
    grid-area: 1/1/2/5;
    padding-left: 5px;
    align-items: center;
}

.item-textarea {
    grid-area: 2/1/6/6;
    border: 1px solid #cecece;
    background-color: #F9F9F9;
    border-radius: 2px;
    padding: 3px;
}

.item-delete {
    display: grid;
    grid-area: 1/5/2/6;
    justify-content: center;
    align-items: center;
    color: #F46565;
    font-size: 20px;

}

.bi.bi-trash-fill {
    cursor: pointer;
}