.navigation-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navigation-logo {
    height: 150px;
    width: 100%;
    background-color: #6B8AF8;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-text {
    display: flex;
    font-size: 24px;
}

.navigation-body {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #fcfcfc;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3px;
    border-right: 1px solid #F4F4F6;
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper-first {
    grid-area: 1/1/2/2;
}

.wrapper-second {
    grid-area: 2/1/3/2;
}

.wrapper-third {
    grid-area: 3/1/4/2;
}

.wrapper-forth {
    grid-area: 4/1/5/2;
}

.wrapper-fifth {
    grid-area: 5/1/6/2;
}

.menu-item {
    flex-direction: row;
    height:100%;
    width: 100%;
    background-color: #F4F4F6;
    border-radius: 10px;
    text-decoration: none;
}

.item-icon {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.icon-size {
    font-size: 25px;
    color: #44484D;
}

.item-text {
    display: flex;
    width: 80%;
    color: #44484D;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    padding-left: 10px;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #eaeaeb;
    transition: 0.3s;
}

.collapse-expand-menu {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 4px solid #C7CFEC;
    position: absolute;
    bottom: 0;
    background-color: white;
    right: -20px;
    justify-content: center;
    align-items: center;
}

.collapse-expand-menu:hover {
    transition: 0.3s;
    cursor: pointer;
    border: 4px solid #899eeb;
}